/* Card.module.css */
.animate {
    perspective: 150rem;
    
  }
  
  .card__side {
    transition: all 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .card__sideBack {
    background-image: linear-gradient(to right,#614385 , #516395);
    transform: rotateY(180deg);
  }
  
  .animate:hover .card__sideFront {
    transform: rotateY(-180deg);
  }
  
  .animate:hover .card__sideBack {
    transform: rotateY(0deg);
  }
  
  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease-in-out;

  }

  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  @media(prefers-reduced-motion){
    .hidden{
      transition: none;
    }
  }

  