@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    margin: 0;
    padding: 0;
} */
:root {
    --contrast-alpha: rgba(255,255,255,.5);
    --contrast: #fdfcfe;
    --grey2: #a9a9a9;
    --grey3: #34373c;
    --base: #1f1f24;
    --alt: #222528;
    --red: #FF6A67;
    --baseTrans: hsl(0 0% 100% / 0.1);
    --lightGreen : rgb(82, 190, 172);
}


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--base);
}

::-webkit-scrollbar-thumb {
    background: var(--grey2);
    border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
    background: var(--base-light); /* Track color */
}

 
.hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}